.App  {
  text-align: center
}

.App form{
  margin: 50px;
  display: inline-block;
}
.App input , select {
  margin:10px;
  padding:5px;
  display: inline-block;
  width: 100%;
  box-sizing: content-box;
}

