.App {
  width:80%;
  margin: auto;
}

.App form{
  border: 1px solid lightgrey;
  padding:15px;
}

.App input , select {
  width :100%;
  padding:8px;
  margin-top:15px; 
  margin-bottom:15px;
  box-sizing : border-box;
}

