.App {
  text-align: center;
}


.App form{
  border: 1px solid lightgrey;
  padding:15px;
  margin:50px 200px;
}

.App input , select {
  width :100%;
  padding:8px;
  margin-top:15px; 
  margin-bottom:15px;
  box-sizing : border-box;
}



.App a{
  display:inline-block;
  width:150px;
  margin:10px;
  padding:8px;
  font-weight: bold;
  background-color:blue;
  color:white;
  border:1px solid black;
  text-decoration: none;
}

.App a:hover{
  background-color:lightseagreen;
}